
<div class="card">    
    <div class="card-body">
        <h5 class="card-title">{{ task.name }}</h5>
        <p class="card-text">{{ task.description }}</p>
        
        <div class="d-flex flex-row-reverse">            
            <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#editTask"><i class="fa fa-edit icon_option" (click)="open(content)"></i></button>
            <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#removeTask"><i class="fa fa-trash icon_option" (click)="open(contentTrash)"></i></button>
        </div>
    </div>
</div>

<!-- MODAL EDIT-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="name">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Description:</label>
            <textarea class="form-control" rows="5" id="description"></textarea>                
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Estimate:</label>
                    <input type="number" class="form-control" id="estimate">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">State:</label>
                    <select class="form-control" id="sel1">
                        <option *ngFor="let state of states">{{state.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="edit()">Edit</button>
    </div>
</ng-template>

<!-- MODAL DELETE-->
<ng-template #contentTrash let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete task</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            Are you sure you want to delete this task?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="create()">Create</button>
    </div>
</ng-template>
      