
.option_task{
    height: 10vh;
    position: relative;
}
.card_icon{
    color: #000
}
.end_items{
    text-align: right !important
}
.row{
    text-align: center;
    margin: 0;
}
.btn{
    margin-left: 10px;
}
.row{
    margin: 0
}