.txt_sorry{
    color: #000;
    text-align: center;
}
.header{
    background: #1b39a8;
    padding-top: 5vh; 
}
.align_txt{
  text-align: center
}
.example-box {
  padding: 10px 10px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}
.card-body{
  height: 30vh;
}
.data_top{
  height: 20vh;
}
.d-flex{
  height: 5vh;
}
.option_add{
  padding: 2vh;
}

/*//////////*/
.side{
    height: 15vh;
    position: relative;
}
.head{
    height: 15vh;
    position: relative;
}
.plus{
    stroke: #fff;
    color: #fff;
}
.title{
    color: #fff;
    text-align: center
}
.row{
    margin: 0;
}
.icon_plus{
    font-size: 3vh;
    color: #ffff
}

/*//////////*/
.list{
    height: 8vh;
    background: #e9ecef;    
}
.task_list{
    height: 77vh;
}
.col-md{
    padding: 0;    
}
.col-lg{
    padding: 0;    
}
.col-xl{
    padding: 0;    
}

::-webkit-scrollbar { 
    display: none; 
}



/*///////////*/
.option_task{
  height: 10vh;
  position: relative;
}
.card_icon{
  color: rgba(0, 0, 0, 0.4)
}
.end_items{
  text-align: right !important
}
.btn{
  margin-left: 10px;
}


/*///////////*/
.txt_modal_title{
  text-align: center
}
  