<!-- Content to big devices -->
<div class="d-none d-md-block">
    <!-- HEADER -->
    <div class="d-none d-md-block">
        <div class="header">
            <div class="row">
                <div class="col-12">
                    <div class="center_to_center">
                        <h3 class="title">Managment Task</h3>
                    </div>
                </div>
            </div>  
            <div class="row">
                <div class="option_add">
                    <button type="button" class="btn btn-outline-light" (click)="stateEdit(contentState, false)">Add state</button>
                </div>
                <div class="option_add" *ngIf="array_states.length > 0">
                    <button type="button" class="btn btn-outline-light" (click)="flagAddT(contentInfo)">Add task</button>
                </div>
            </div>  
        </div>
        
    </div>

    

    <!-- TABLE -->
    <div class="row">
        <div *ngFor="let item of array_states" class="col-md col-lg col-xl">
            <div class="">
                <div class="list">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="align_txt">{{ item.name }}</h5>
                            <h6 class="align_txt">{{ item.hrs }} hrs</h6>
                        </div>
                        <div class="col-2">
                            <div class="center_to_center">
                                <button type="button" class="btn btn-sm" (click)="stateEdit(contentState, true, item)"><i class="fa fa-edit card_icon"></i></button>
                            </div>                            
                        </div>
                    </div>
                </div>
               
                <div class="example-box" *ngFor="let task of item.ids">
                    <div class="card">    
                        <div class="card-body">
                            <div class="data_top">
                                <h5 class="card-title">{{limitTxt(task.name, 'name')}}</h5>
                                <p class="card-text">{{limitTxt(task.description, 'des')}}</p>   
                            </div>
                                             
                            <div class="d-flex flex-row-reverse">            
                                <button type="button" class="btn btn-sm" (click)="flagEditT(task, item.id, contentInfo)"><i class="fa fa-edit card_icon"></i></button>
                                <button type="button" class="btn btn-sm" (click)="undelete(task._id, item.id, contentTrash)"><i class="fa fa-trash card_icon" ></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- MODAL ADD-->
<ng-template #contentInfo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">TASK</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="name">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Description:</label>
            <textarea class="form-control" rows="5" id="description"  name="description" [(ngModel)]="description"></textarea>                
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Estimate:</label>
                    <input type="number" min="0" class="form-control" id="estimate"  name="estimate"  [(ngModel)]="estimate">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">State:</label>
                    <select class="form-control" id="sel1" name="state_name" [(ngModel)]="state_name" (ngModelChange)="setStateID($event)">
                        <option *ngFor="let state of array_states">{{state.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
            <button  type="button" class="btn btn-outline-dark" (click)="actionInfo()">Acept</button>                    
        </div>
    </div>    
</ng-template>

<!-- MODAL ADD STATE-->
<ng-template #contentState let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">STATE</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="post_state_name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
                <button  type="button" class="btn btn-outline-dark" (click)="actionInfoState()">Acept</button>                    
            </div>
        </div>    
    </ng-template>

<ng-template #contentTrash let-modal>
    <div class="modal-header">
        <h4 class="modal-title txt_modal_title" id="modal-basic-title">Delete task</h4>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this task?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="_deleteTask()">Acept</button>
    </div>
</ng-template>
          